__pycache__
bak/
corpus/
corpus_bak/
*.ipynb
.ipynb_checkpoints
key
*.pkl
others/
.DS_store
flagged/
temp/
.jupyter
*.vault
*.log
nohup.out
history/
dist/
build/
extra_files/
bases/*
!bases/Help.base
