.block.svelte-faijhx{
	border-width:0px;
    /* background:none; */
}

div.svelte-1fwqiwq {
    gap: 0px;
    border: 0px;
    border-radius: none;
}
input.svelte-2xzfnp:focus, textarea.svelte-2xzfnp:focus {
    border-color: DodgerBlue;
	border-width: 2px;
}

input.svelte-2xzfnp, textarea.svelte-2xzfnp {
	border-width: 2px;
}

#low_btn1 {
    flex-grow: 0;
    height: 40px;
    margin-top: 37px;
}

#low_btn2 {
    flex-grow: 0;
    height: 40px;
    margin-top: 37px;
}
/* #cv { */
    /* flex-grow: 0; */
    /* height: 40px; */
    /* margin-top: 37px; */
/* } */
#box_results_similarity {
    padding:15px;

}
#box_result_size {
    padding:15px;
}
#component-111 {
    max-width: 1200px;
	margin:auto;
}
div.svelte-1dl81bf {
    max-width: 800px;
    margin: auto;
}
#chatbot {
    height: 60vh;
}
#chatbot > div.wrap.svelte-byatnx {
    height: 60vh;
}
#reviewbot {
    height: 60vh;
}
#reviewbot > div.wrap.svelte-byatnx {
    height: 60vh;
}

#btn_clear_context {
	min-width: 40px;
}
#btn_clear_context_review {
	min-width: 40px;
}
#btn_stop {
	min-width: 40px;
}
#btn_stop_review {
	min-width: 40px;
}

#btn_del {
	min-width: 40px;
}
#btn_del_review {
	min-width: 40px;
}
#btn_fold {
	min-width: 40px;
}
#btn_fold_review {
	min-width: 40px;
}

#ask_prev {
	min-width: 30px;
	background: none;
	border: none;
	box-shadow:none;
	color:gray;
}
#ask_next {
	min-width: 30px;
	background: none;
	border: none;
	box-shadow:none;
	color:gray;
}
#ask_page {
	min-width: 30px;
	background: none;
	border: none;
	box-shadow:none;
	color:gray;
}
#review_prev {
	min-width: 30px;
	background: none;
	border: none;
	box-shadow:none;
	color:gray;
}
#review_next {
	min-width: 30px;
	background: none;
	border: none;
	box-shadow:none;
	color:gray;
}
#review_page {
	min-width: 30px;
	background: none;
	border: none;
	box-shadow:none;
	color:gray;
}

#ask_toolbar {
	flex-grow: 0;
	/* width: 200px; */
	min-width: 40px;
	flex-grow: 0;
	/* position: absolute; */
	top: 0;
	left: 0;
	gap:5px;
	transform: translate(5px, 5px);
}
#review_toolbar {
	flex-grow: 0;
	min-width: 40px;
	flex-grow: 0;
	/* position: absolute; */
	top: 0;
	left: 0;
	gap:5px;
	transform: translate(5px, 5px);
}
#page_bar {
	width: 100px;
	position: absolute;
	top: 0;
	right: 0;
	gap:0px;
	transform: translate(0%, -120%);
}
#page_bar_review {
	width: 100px;
	position: absolute;
	top: 0;
	right: 0;
	gap:0px;
	transform: translate(0%, -120%);
}


#box_hyde {
    flex-grow: 0;
    width: 40px;
    min-width: 40px;
    flex-grow: 0;
	position: absolute;
    right: 0;
    transform: translate(-100%, -10%);
    /* bottom: 0; */
    background: none;
}

#checkbox_search_mode {
    flex-grow: 0;
    width: 40px;
    min-width: 40px;
    flex-grow: 0;
    position: absolute;
    right: 0;
    transform: translate(-150%, 135%);
    top: 0;
    background: none;
}
.asklink {
    color: LightGray !important;
}
:root, .gradio-container-3-18-0 :host {
    --color-background-tertiary: rgb(250, 250, 250);
}
label.svelte-1wjs5yr.svelte-1wjs5yr.svelte-1wjs5yr {
	background: none;
}

.scroll-hide.svelte-2xzfnp {
    height: auto !important;
}


.codebox {
    background: black;
    padding: 10px;
    border-radius: 10px;
}

pre {
    /* border: 1px solid white; */
    padding: 5px;
	margin: 10px;
	background: gray;
	border-radius: 10px;
	color: white;
    white-space: pre-wrap;			/* 保留空白符序列，并正常进行换行 */
    white-space: -moz-pre-wrap;		/* 兼容火狐浏览器 */
    white-space: -webkit-pre-wrap;	/* 兼容谷歌浏览器 */
    white-space: -o-pre-wrap;			/* 兼容opera浏览器 */
    word-wrap: break-word;			/* 允许字母、url地址换行 */
}

.wrap.svelte-6roggh.svelte-6roggh {
	max-height: unset; 
}
label.svelte-1p9xokt.svelte-1p9xokt.svelte-1p9xokt {
    background: none
}
